<div>
    <mat-nav-list>
        <mat-list-item>
            <button routerLink="/landing" mat-menu-item>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/services/flight" mat-menu-item>
              <mat-icon>flight</mat-icon>
              <span>Flights</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/services/train" mat-menu-item>
              <mat-icon>directions_train</mat-icon>
              <span>Trains</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/services/bus" mat-menu-item>
              <mat-icon>directions_bus</mat-icon>
              <span>Buses</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button mat-menu-item disabled>
                <mat-icon>settings_applications</mat-icon>
                <span>Settings</span>
            </button>
        </mat-list-item>
        <mat-list-item>
            <button routerLink="/logout" mat-menu-item>
              <!-- <mat-icon>exit_to_app</mat-icon> -->
              <span>Logout</span>
            </button>
        </mat-list-item>
    </mat-nav-list>

</div>
